@{
    ViewBag.Title = "Home Page";
}
<br/>
<div class="jumbotron">
    <h1>Welcome To Vidly</h1>
    <h2 class="lead">ASP.NET MVC application with RESTful Web APIs </h2>
    <p><a href="http://www.thetnaingaye.com/Vidly/api/Customers/" class="btn btn-primary btn-lg">www.thetnaingaye.com/Vidly/api/Customers/</a></p>
    <p><a href="http://www.thetnaingaye.com/Vidly/api/Movies/" class="btn btn-primary btn-lg">www.thetnaingaye.com/Vidly/api/Movies/</a></p>
</div>

